PUBLIC_WHATSAPP_NUMBER=5531999999999
PUBLIC_PHONE_NUMBER=5531999999999
PUBLIC_PHONE_DISPLAY=(31) 99999-9999
PUBLIC_CONTACT_EMAIL=contato@infinicom.com.br
PUBLIC_PRIVACY_EMAIL=admin@infinicom.com.br
PUBLIC_GTM_ID=GTM-5Z2SX62K
PUBLIC_SERVICE_HOURS=
PUBLIC_INSTAGRAM_URL=
PUBLIC_LINKEDIN_URL=
