PUBLIC_WHATSAPP_NUMBER=5531995308690
PUBLIC_PHONE_NUMBER=5531995308690
PUBLIC_PHONE_DISPLAY=(31) 99530-8690
PUBLIC_CONTACT_EMAIL=contato@infinicom.com.br
PUBLIC_PRIVACY_EMAIL=admin@infinicom.com.br
PUBLIC_GTM_ID=
PUBLIC_GOOGLE_TAG_ID=
PUBLIC_GOOGLE_ADS_ID=
PUBLIC_SERVICE_HOURS=
PUBLIC_INSTAGRAM_URL=
PUBLIC_LINKEDIN_URL=
